<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEA</title>
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="/navbar.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <img id="home" src="/images/home.png" onclick="window.location = '/app';"/>

        <div id="selectEventDiv">
            <select id="searchSelect">
              <option>Team</option>
              <option>Sport</option>
              <option>League</option>
              <option>Arena</option>
              <option>City</option>
            </select>

            <input type="text" id="searchBar" placeholder="Search"/>
        </div>

        <% if (locals.loggedIn) { %>
          <div id="authbox" onclick="window.location = '/profile';">
              <img id="profilePic" src="/images<%= profilePicture %>"/>
              <span id="displayName"><%= displayName %></span>
          </div>
          <% } else { %>
            <button class="registerButton" onclick="window.location = '/register'">Register</button>
            <button class="loginButton" onclick="window.location = '/login'" >Sign In</button>
          <% } %>
      </nav>

    <div id="container">
      <% for(event of events) { %>
            <div class="box" onclick="window.location = '/chat/' + <%= event.eventId %>">
            <span class="versus"><%= event.vTeamFullName + " vs " + event.hTeamFullName %></span>
              
            <div class="logoBox">
              <img class="logo" src="<%= event.vTeamLogo %>">
              <img class="logo" src="<%= event.hTeamLogo %>">
            </div>
            <span class="date"><%= helper.formatDate(event.startTimeUTC) %></span>
            <div class="scoreBox">
            <span><%= event.vTeamScore %></span>
            -
            <span><%= event.hTeamScore %></span>
          </div>
            </div>
      <% } %>
    </div>
</body>
</html>
