<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/chat.css">
</head>
<body>
  <nav>
    <img id="home" src="/images/home.png" onclick="window.location = '/app';"/>

    <div id="selectEventDiv">
        <select id="searchSelect">
          <option>Team</option>
          <option>Sport</option>
          <option>League</option>
          <option>Arena</option>
          <option>City</option>
        </select>

        <input type="text" id="searchBar" placeholder="Search"/>
    </div>

      <div id="authbox" onclick="window.location = '/profile';">
          <img id="profilePic" src="<%= profilePicture %>"/>
          <span id="displayName"><%= displayName %></span>
      </div>
  </nav>

    <div id="chatArea">
    <div id="chatBox">
      <% for(message of messages.reverse()) { %>
            <div class="messageDiv">
            <span class="displayName" onclick="window.location = '/profile/<%= message.userId %>';"><%= message.displayName %></span>
            <span class="content"><%= message.content %></span>
            <span class="time"><%= helper.formatDate(message.time) %></span>
            </div>
      <% } %>
    </div>
    <div id="inputDiv">
    <input type="text" id="messageInput"/>
    <button id="submitMessageButton">SEND</button>
  </div>
</div>

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script>
    var chatbox = document.getElementById("chatBox");
    chatbox.scrollTop = chatbox.scrollHeight;
    var socket = io();

    var messageBox = document.getElementById('chatBox');
    var submitButton = document.getElementById('submitMessageButton');
    var messageInput = document.getElementById('messageInput');

    submitButton.addEventListener('click', function(e) {
      e.preventDefault();
      if (messageInput.value) {
        // get uuser id and displayname from session
        let msg = {userId: <%= userId %>, displayName:"<%= displayName %>", content: messageInput.value, time: getCurrentDate(), eventId:"<%= eventId %>"}
        socket.emit('chat message', msg);
        messageInput.value = '';

        fetch(`/write`, {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(msg)
            });
      }
    });

    messageInput.addEventListener("keydown", function(event) {
  if (event.keyCode === 13) {
    submitButton.click();
  }
});

    socket.on('chat message', function(msg) {
      var formatDate = <%- helper.formatDate %>;
      var time = formatDate(msg.time);
      // var time = formatDate(msg.time)
      messageBox.innerHTML = `<div class='messageDiv'>
      <span class="displayName" onclick="window.location = '/profile/${msg.userId}';">${msg.displayName}</span>
      <span class="content">${msg.content}</span>
      <span class="time">${time}</span>
      </div>` + messageBox.innerHTML;
      messageBox.scrollTop = messageBox.scrollHeight;
    });

    function getCurrentDate(){
        var date = new Date();
        return date.toISOString();
    }
  </script>
</body>
</html>
