<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/chat.css">


</head>
<body>
  <%- include('./navbar.html'); %>

    
    <div id="chatArea">

      <div id="infoDiv">

        <span id="dateInfo"><%= event.startTimeUTC %></span>
  
        <div id="teamDiv">
          <span> <img class="teamImage" src="<%= event.hTeamLogo %>"> <%= event.hTeamFullName %></span>
          <span> <img class="teamImage" src="<%= event.vTeamLogo %>"> <%= event.vTeamFullName %></span>
        </div>
  
        <div id="scoreDiv">
          <span><%= event.hTeamScore %></span>
          <span><%= event.statusGame %></span>
          <span><%= event.vTeamScore %></span>
        </div>
  
        <div id="locationDiv">
          <span><%= event.arena %></span>
          <span><%= event.city %></span>
         </div>
  
      </div>

    <div id="chatBox">
      <% for(message of messages.reverse()) { %>
            <div class="messageDiv">
              <div class="userContainer" onclick="window.location = '/profile/<%= message.userId %>'";>
                <img src="<%= message.profilePicture %>" class="messagePfp">
                <span class="displayName"><%= message.displayName %></span>
             </div>
              <span class="content"><%= message.content %></span>
              <span class="time"><%= helper.formatDate(message.time) %></span>
              </div>
      <% } %>
    </div>
    <div id="inputDiv">
    <input type="text" id="messageInput"/>
    <!-- <button id="gifButton">GIF</button> -->
    
    <button id="submitMessageButton">SEND</button>
  </div>
</div>
<div id="gifBox"></div>

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script>
  async function getProfilePic(userId){
  var result = await fetch("/profilepicture/"+userId);
  var jsonresult = await result.json()
  return jsonresult;
}
</script>
<script>
    var chatbox = document.getElementById("chatBox");
    chatbox.scrollTop = chatbox.scrollHeight;
    var socket = io();

    var messageBox = document.getElementById('chatBox');
    var submitButton = document.getElementById('submitMessageButton');
    var messageInput = document.getElementById('messageInput');

    submitButton.addEventListener('click', function(e) {
      e.preventDefault();
      if (messageInput.value) {
        // get uuser id and displayname from session
        let msg = {userId: <%= userId %>, displayName:"<%= displayName %>", content: messageInput.value, time: getCurrentDate(), eventId:"<%= eventId %>"}
        socket.emit('chat message', msg);
        messageInput.value = '';

        fetch(`/write`, {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(msg)
            });
      }
    });

    messageInput.addEventListener("keydown", function(event) {
  if (event.keyCode === 13) {
    submitButton.click();
  }
});

    socket.on('chat message', async function(msg) {
      var formatDate = <%- helper.formatDate %>;
      var time = formatDate(msg.time);
      // var time = formatDate(msg.time)
      var image = await getProfilePic(msg.userId);
      messageBox.innerHTML = `
      <div class='messageDiv'>
      <div class="userContainer" onclick="window.location = '/profile/${msg.userId}';">
        <img src=${image.response} class="messagePfp">
        <span class="displayName">${msg.displayName}</span>
      </div>
      <span class="content">${msg.content}</span>
      <span class="time">${time}</span>
      </div>` + messageBox.innerHTML;
      messageBox.scrollTop = messageBox.scrollHeight;
    });

    function getCurrentDate(){
        var date = new Date();
        return date.toISOString();
    }
  </script>

  <script>

    document.getElementById("gifButton").addEventListener("click", (event) => {
      var gifbox = document.getElementById("gifBox");
      var rect = event.target.getBoundingClientRect()
      gifbox.style.left = rect.x - 130 + "px";
      gifbox.style.top = rect.y - 410 + "px";
      gifbox.style.display = "block";
    })

  </script>
</body>
</html>