<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= displayName %></title>
  <link rel="stylesheet" href="/css/editProfile.css" />
  <link rel="stylesheet" href="/css/navbar.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="shade">
    <div class="shadePopup">
      <div id="imageChanging">
      Insert URL of image. 
      Leave blank for default.
      <input type="text" id="inputImageUrl" value="<%= profilePicture %>" placeholder="Image URL">
      <button id="saveImageButton">Save</button>
    </div>

    <div id="passwordChanging">
      <p id="messageLabel"></p>
      Current Password
      <input type="password" id="currentPasswordInput" placeholder="Current Password">
      New Password
      <input type="password" id="newPasswordInput" placeholder="New Password">
      <button id="savePasswordButton">Save</button>
    </div>
      
      <span id="closePopupButton">X</span>
    </div>
  </div>


  <%- include('./navbar.html'); %>

  <div class="container">
    <div class="leftColumn">
      <div class="profilePictureContainer">
        <img src="<%= profilePicture %>" id="profilePicture" />
        <div id="pencil" class="pencilCircle">
          <img class="pencil" src="/pencil.svg" />
        </div>
      </div>
    <button id="logOut" onclick="window.location = '/logout';">Log Out</button>
    <button id="changePassword">Change Password</button>
    <button id="deleteAccount" onclick="window.location = '/delete';">Delete Account</button>
  </div>

  <div class="rightColumn">
    <span class="label">Display name</span>
    <input type="text" id="inputDisplayName" value="<%= displayName %>" placeholder="Display name">
    <span class="label">Biography</span>
    <textarea type="text" id="inputBiography" placeholder="Biography"><%= biography %></textarea>


    <button id="saveProfile">Save Profile</button>

  </div>
  </div>
</body>
<script>
  document.getElementById("saveProfile").addEventListener("click", async () => {
    var newDisplayName = document.getElementById("inputDisplayName").value;
    var newImageUrl = document.getElementById("inputImageUrl").value;
    var newBiography = document.getElementById("inputBiography").value;
    var msg = {
      newDisplayName: newDisplayName,
      newImageUrl: newImageUrl,
      newBiography: newBiography
    };
    await fetch(`/profile`, {
      method: "post",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(msg)
    }).then(() => window.location.href = "/app");
  });
</script>

<script>
  document.getElementById("profilePicture").addEventListener("click", () => {
    document.getElementById("shade").style.display = "block";
    document.getElementById("imageChanging").style.display = "block";
  });
  document.getElementById("pencil").addEventListener("click", () => {
    document.getElementById("shade").style.display = "block";
    document.getElementById("imageChanging").style.display = "block";
  });
  document.getElementById("saveImageButton").addEventListener("click", () => {
    var value = document.getElementById("inputImageUrl").value;
    if (value == ""){
      value = "/images/default.jpeg";
    }
    document.getElementById("profilePicture").src = value;
    document.getElementById("shade").style.display = "none";
    document.getElementById("imageChanging").style.display = "none";
  });

  document.getElementById("changePassword").addEventListener("click", () => {
    document.getElementById("shade").style.display = "block";
    document.getElementById("passwordChanging").style.display = "block";
  });


  document.getElementById("closePopupButton")
    .addEventListener("click", () => {
      document.getElementById("shade").style.display = "none";
      document.getElementById("imageChanging").style.display = "none";
      document.getElementById("passwordChanging").style.display = "none";
    });

  function showMessage(jsonresult){
    var messagelabel = document.getElementById("messageLabel");
    messagelabel.innerText = jsonresult.response;
    messagelabel.classList = jsonresult.class;
  }

  document.getElementById("savePasswordButton").addEventListener("click", () => {
    var currentPass = document.getElementById("currentPasswordInput").value;
    var newPass = document.getElementById("newPasswordInput").value;
    var msg = {currentPass, newPass};
    fetch(`/changepassword`, {
      method: "post",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(msg)
    }).then(response => response.json()).then(jsonresult => showMessage(jsonresult))

  });

</script>

<script>
  document.getElementById("home").addEventListener("click", () => {
    window.location = "/app";
  })
</script>

</html>
