<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEA</title>
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="navbar.css" />
    <script src="loadEvents.js" defer></script>
</head>
<body>
    <nav>
        <div id="selectEventDiv">
            <button class="navbutton" id="nbaButton">NBA</button>
            <button class="navbutton" id="mlbButton">MLB</button>
            <button class="navbutton" id="nhlButton">NHL</button>
            <button class="navbutton" id="nflButton">NFL</button>
        </div>

        <div id="authbox">
            <button id="signInButton" class="navbutton">Sign In</button>
            <div id="separator"></div>
            <button id="registerButton" class="navbutton">Register</button>
        </div>
    </nav>
    
    <div id="container"></div>
</body>
</html>