<nav>
    <img id="home" src="/images/home.png" onclick="window.location = '/app';"/>

    <div id="selectEventDiv">
        <select id="searchSelect">
          <option>Team</option>
          <option>Sport</option>
          <option>League</option>
          <option>Arena</option>
          <option>City</option>
        </select>

        <input type="text" id="searchBar" placeholder="Search"/>
    </div>

    <% if (locals.loggedIn) { %>
      <div id="authbox" onclick="window.location = '/profile/<%= userId %>';">
          <img id="profilePic" src="<%= profilePicture %>"/>
          <span id="displayName"><%= displayName %></span>
      </div>
      <% } else { %>
        <button class="registerButton" onclick="window.location = '/register'">Register</button>
        <button class="loginButton" onclick="window.location = '/login'" >Sign In</button>
      <% } %>
  </nav>
