<nav>
    <img id="home" src="/images/home.png" onclick="window.location = '/app';"/>

    <div id="selectEventDiv">
        <select id="searchSelect">
          <option value="team" selected>Team</option>
          <option value="sport">Sport</option>
          <option value="league">League</option>
          <option value="arena">Arena</option>
          <option value="city">City</option>
        </select>

        <input type="text" id="searchBar" placeholder="Search"/>
    </div>

    <% if (locals.loggedIn) { %>
      <div id="authbox" onclick="window.location = '/profile/<%= userId %>';">
          <img id="profilePic" src="<%= profilePicture %>"/>
          <span id="displayName"><%= displayName %></span>
      </div>
      <% } else { %>
        <button class="registerButton" onclick="window.location = '/register'">Register</button>
        <button class="loginButton" onclick="window.location = '/login'" >Sign In</button>
      <% } %>
</nav>
<script>
  var searchBar = document.getElementById('searchBar');
  var searchSelect = document.getElementById("searchSelect");

  searchBar.addEventListener("keydown", function(event) {
  if (event.keyCode === 13) {
    var params = {};
    params[searchSelect.value] = searchBar.value;
    console.log(params)
    console.log('/search?' + new URLSearchParams(params))
    window.location = '/search?' + new URLSearchParams(params)
  }
});
</script>