<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/register.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  </head>
  <body>
    <div class="header">

    <h1>Register</h1>
    <span id="close">X</span>
  </div>

    <% if (locals.message) { %>
            <div class="<%= messageClass %>">
                <%= message %>
            </div>
    <% } %>
    <form method="POST" action="/register">
                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input name="email" type="email" class="form-control" id="emailInput" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                </div>

                <div class="form-group">
                    <label for="confirmPasswordInput">Confirm Password</label>
                    <input name="confirmPassword" type="password" class="form-control" id="confirmPasswordInput"
                        placeholder="Re-enter your password here">
                </div>

                <button type="submit" id="registerButton" class="btn btn-primary">Register</button>
            </form>

            <script>
              document.getElementById("close").addEventListener("click", () => {
                window.location = "/"
              })
            </script>
  </body>
</html>
