

body{
  font-family: 'Roboto', sans-serif;
  background-color: #131312;
  width: 100%;
  overflow-x: hidden;
  animation: fadein 1s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

[src=''] {
  visibility: hidden;
}


#container{
  padding-top: 100px;
  /* display: flex;
  align-items:center;
  flex-direction: column; */
  margin: auto;
  width: clamp(200px, 1000px, 1500px);
}

#sportPicker{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sportButton{
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: #1E1E1F;
  box-shadow: 0px 0px 10px 0px black;
  border-radius: 50%;
  padding: 20px
}

.sportButton:hover{
  background-color: #3a3b3c;
  cursor: pointer;
  transition: background-color 0.1s;
}

.box{
  border-radius: 15px;
  background-color:#1E1E1F;
  box-shadow: 0px 0px 10px 0px black;
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
  width: 45%;
  height: 140px;
  margin: 10px;
}

.box:hover{
  background-color: #3a3b3c;
  cursor: pointer;
  transition: background-color 0.1s;
}

#searchDescriptor{
  color: gray;
}



.logo{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.date{
  color: darkgray;
  display: inline-block;
}

.statusGame{
  color: darkgray;
  float: right;
  margin: 0
}

.league{
  color: darkgray;
  display: inline-block;
  margin-left: auto;
}

.boxHeader{
  display: flex;
  justify-content: space-between;
}

.score{
  margin-left: auto;
  margin-right: 8px;
}

.teamInfo{
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.sportTitle{
  text-transform: capitalize;
  color: white;
}