<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="../../navbar.css">
    <link rel="stylesheet" href="../../chat.css">
</head>
<body>
    <nav>
        <div id="selectEventDiv">
            <button class="navbutton" id="nbaButton">NBA</button>
            <button class="navbutton" id="mlbButton">MLB</button>
            <button class="navbutton" id="nhlButton">NHL</button>
            <button class="navbutton" id="nflButton">NFL</button>
        </div>

        <div id="authbox">
            <button id="signInButton" class="navbutton">Sign In</button>
            <div id="separator"></div>
            <button id="registerButton" class="navbutton">Register</button>
        </div>
    </nav>

    <div id="chatArea">
    <div class="fade"></div>
    <div id="chatBox"></div>
    <div id="inputDiv">
    <input type="text" id="messageInput"/>
    <button id="submitMessageButton">SEND</button>
  </div>
</div>

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

    <script>
        [eventType, eventId] = window.location.pathname.split('/').slice(2);
        console.log(eventType) //caht
        console.log(eventId)
        fetch("/data/" + eventType + "/" + eventId)
            .then((response) => response.json())
            .then((jsonResult) => displayMessages(jsonResult.message))

        function formatDate(inputDateString){
          var inputDate = new Date(inputDateString);
          var todaysDate = new Date();
          if(inputDate.toDateString() == todaysDate.toDateString()) {
            var time = inputDate.getHours() + ":" + inputDate.getMinutes();
          } else {
            var time = message["Time"].split(" ")[0];
          }
          return time;
        }

        function displayMessages(messages){
            for (let message of messages){
                // 2020-09-09 19:09:09
                var time = formatDate(message["Time"]);
                var messageDiv = createMessage(message["Username"], message["Content"], time)

                var chatbox = document.getElementById("chatBox");
                chatbox.appendChild(messageDiv);

            }
        }

        function createMessage(username, content, time){
            var messageDiv = document.createElement("div");
            messageDiv.className = "messageDiv";

            var usernameSpan =  document.createElement("span");
            usernameSpan.innerText = username;
            usernameSpan.className = "username";
            messageDiv.appendChild(usernameSpan);

            var contentSpan =  document.createElement("span");
            contentSpan.innerText = content;
            contentSpan.className = "content";
            messageDiv.appendChild(contentSpan);

            var timeSpan = document.createElement("span");
            timeSpan.innerText = time;
            timeSpan.className = "time";
            messageDiv.appendChild(timeSpan);

            return messageDiv;
        }


    </script>

<script>
var chatbox = document.getElementById("chatBox");
  chatbox.scrollTop = chatbox.scrollHeight;
    var socket = io();

    var messageBox = document.getElementById('chatBox');
    var submitButton = document.getElementById('submitMessageButton');
    var messageInput = document.getElementById('messageInput');

    submitButton.addEventListener('click', function(e) {
      e.preventDefault();
      if (messageInput.value) {
        let msg = {username: "lol", content: messageInput.value, time: getCurrentDate()}
        socket.emit('chat message', msg);
        messageInput.value = '';

        fetch(`/write/${eventType}/${eventId}`, {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(msg)
            });
      }
    });

    socket.on('chat message', function(msg) {
      var time = formatDate(msg.time);
      var messageDiv = createMessage(msg.username, msg.content, time);
      messageBox.appendChild(messageDiv);
      messageBox.scrollTop = messageBox.scrollHeight;
      window.scrollTo(0, document.body.scrollHeight); // CHECK
    });

    function getCurrentDate(){
        var date = new Date();
        return date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" +("0" + date.getDate()).slice(-2) + " " + ("0" + date.getHours() ).slice(-2) + ":"+ ("0" + date.getMinutes()).slice(-2) + ":" +("0" + date.getSeconds()).slice(-2);
    }
  </script>
</body>
</html>
